@import "tailwindcss";

@layer utilities{
    .primary-bg{
        background: #13131310;
    }
    .text-color{
        color: #131313;
    }
    .active{
        color: #23BE0A;
        border: 1px solid #23BE0A;
        border-radius: 4px;
    }
}